@model GarageWebSite.Models.Classes.Contact
@{
    ViewBag.Title = "GetContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("UpdateContact", "Admin", FormMethod.Post))
{
    <main>
        <header>
            <h1><i class="fas fa-cog"></i> Updating Contact Informatıons </h1>
        </header>

        <div class="container">
            <form method="post">
                <div class="form-group">
                    <label for="id">Contact ID</label>
                    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly="readonly" ,@id = "id" })
                    @*<input type="text" class="form-control" id="serviceName" placeholder="Enter service name" required>*@
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    @Html.TextBoxFor(x => x.email, new { @class = "form-control", @placeholder = "Enter email adress ", @id = "email" })
                    @*<input type="text" class="form-control" id="serviceName" placeholder="Enter service name" required>*@
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number </label>
                    @Html.TextBoxFor(x => x.phoneNumber, new { @class = "form-control", @id = "phoneNumber", @placeholder = "Enter phone number" })
                    @*<input type="text" class="form-control" id="servicePhotoUrl" placeholder="Enter photo URL" required>*@
                </div>
                <div class="form-group">
                    <label for="adress">Adress</label>
                    @Html.TextAreaFor(x => x.adress, new { @class = "form-control", @id = "adress", @placeholder = "Enter adress ", @rows = "3" })
                    @*<textarea class="form-control" id="serviceDescription" rows="3" placeholder="Enter service description" required></textarea>*@
                </div>
                <button type="submit" class="btn btn-primary">Update Contact Informatıons</button>
            </form>
        </div>
    </main>
}
