
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header>
    <h1>Dashboard</h1>
</header>
<main>
    <h3>Welcome to the admin panel! Select an option from the sidebar to manage content.</h3>
</main>